<!-- slidebar -->
<div class="slidebar">
    <div class="logo_name_of_company">
        <a asp-action="Index" asp-controller="Home" >
            <p>安い車</p>
        </a>
    </div>
    <nav>
        <a class="slidebarLink">Услуги</a>
        <a class="slidebarLink" asp-action="List" asp-controller="Catalog">Каталог техніки</a>
        <a class="slidebarLink" href="#">Аукціони</a>
        <button class="slidebarLink btn">
            <div class="arrow"></div>
            Інформація
        </button>
        <div class="dropdown-container">
            <div class="dropdown-client">
                <a class="slidebarLink-dropdown" href="#">Питання відповідь</a>
                <a class="slidebarLink-dropdown" href="#">Як читати аукціонний лист</a>
                <a class="slidebarLink-dropdown" href="#">Розпили, Конструктори</a>
                <a class="slidebarLink-dropdown" href="#">Оформлення розпилів/конструкторів</a>
                <a class="slidebarLink-dropdown" href="#">Визначення дати випуску</a>
                <a class="slidebarLink-dropdown" href="#">Розклад судів</a>
                <a class="slidebarLink-dropdown" href="#">Адреси та контакти</a>
            </div>
        </div>

        <a class="slidebarLink" href="#">Про нас</a>
        <a class="slidebarLink" href="#">Відгуки</a>
        <a class="slidebarLink" href="#">Контакти</a>
    </nav>
</div>
<!-- slidebar end -->

<header>
    <div class="container">
        <div class="big_header">
            <div class="slogan">
                Автомобілі з Японії з доставкою по всій Україні
            </div>
            <div>
                <div class="number_phone">3 80 568 8956</div>
                Безкоштовний дзвінок по всій Україні
            </div>
        </div>
        <div class="small_header">
            <div class="logo_name_of_company">
                <a href="#">
                    <p>安い車</p>
                </a>
            </div>
        </div>
    </div>
</header>

<!--btn header-->
<div class="btn_menu">
    <div class="first_line"></div>
    <div class="last_line"></div>
</div>